@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Sarala:wght@700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
 
}

body, html {
  height: 100%;
  margin: 0;
}

body {
    margin: 0px;
    display: flex;
  }
 
  #welcome-left {
    width: 30%;
    height: 100%;
    background-color:#00629B;
    border: 20px;
  }
  
  .icon-pic {
    width: 30px;
    height: 30px;
    padding: 30px 0 0 40px;
  }
  
  .icon-title {
    font-family: sarala;
    color: white;
  }
  
  #heading {
    padding-top: 240px;
  }
  
  .title {
    font-family: montserrat;
    font-size: 90px;
    color: white;
    margin-left: 40px;
    letter-spacing: 20px;
    
  }
  
  .explanation {
    font-family: sarala;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    margin-left: 40px;
  }
  
  .main-button {
    padding: 12px 20px;
    margin-top: 2em;
    margin-left: 10%;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .main-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
      center/cover;
  }
  
  .video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  
  .video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
  
  @media screen and (max-width: 700px) {
    #welcome-left {
      width: 200px;
      position: relative;
      font-size: small;
    }
    .title {
      font-size: 32px;
    }
    .explanation{
      font-size: 16px;
    }
    #heading {
      padding-top: 60px;
    }
    #welcome-right {
      height:100%;
    }
  }


  @media screen and (max-width: 400px) {
    #welcome-left {
      width: 100px;
      text-align: center;
      float: none;
      padding: auto;
    }
    #heading {
      padding-top: 60px;
    }
    .title {
      font-size: 18px;
      text-align: center;
      margin: auto;
      letter-spacing: 10px;
    }
    .explanation{
      font-size: 8px;
      margin: auto;
      visibility: hidden;
    }
    #welcome-right {
      height:100%;
    }
    .main-button {
      margin-left: 1px;
    }
  }


  /* video ---------------------------------- */
  .video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
