body {
    margin: 0px;
    display: flex;
  }
  
  #welcome-left {
    margin: 0px;
    width: 320px;
    height: 765px;
    background-color: lightblue;
  }
  
  .icon-pic {
    width: 30px;
    height: 30px;
  }
  
  .icon-title {
    font-family: sarala;
    color: white;
    padding: 20px 20px;
  }
  
  #heading {
    padding-top: 350px;
  }
  
  .title {
    font-family: montserrat;
    font-size: 90px;
    color: white;
    margin: 0px
  }
  
  .explanation {
    font-family: sarala;
    font-size: 20px;
    color: white;
    margin-right: 20px;
  }
  
  .main-button {
    padding: 12px 24px;
    background-color: #00629B;
    color: white;
    border-radius: 8px
  }
  
  .main-button:hover {
    opacity: 0.8;
  }
  
  #welcome-right {
    flex: auto;
  }
  
  video {
    width: 1035px;
    height: 5;
  }
  
  video[poster] {
    width: 1035px;
    height: 765px;
  }